.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand{
  background-color:black;
  border-radius: 5px;
  font-size: 24px;
  padding: 8px;

}

.nav-link{
  font-size: 18px;
}

.button-2 {
  margin-left: 20px;
  font-size:21px;
}

.recherche{
  width: 150px;
}

.poste{
  color:white;
}


.bloque1{
  margin-top: 100px;
  border: black;
  margin-left: 22%;
  height: 500px;
  width:650px;
  font-size: 24px;
  
}

.text1{
  margin-right: 20%;
  margin-top: 10px;
  font-weight: 600;
}


.bloque2{
  margin-top: 100px;
  border: black;
  margin-right: 25%;
  margin-left: 100px;
}

.video{
  margin-right: 20%;
}